-# Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
-# chromium.org/developers/how-tos/chrome-frame-getting-started
/[if lt IE 7 ]
  %p.chromeframe
    Your browser is <em>ancient!</em>
    <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.