$line-height: 1.4;
$font-color: #222;
$link-color: #00e;
$link-hover-color: #06e;
$link-visited-color: #551a8b;
$selected-font-color: #fff;
$selected-background-color: #ff5e99;
$invalid-background-color: #f0dddd;

// Html5 Boilerplate compass extension
@import "h5bp";

// Normalize styles
@include h5bp-display;
@include h5bp-base;
@include h5bp-links;
@include h5bp-typography;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-tables;

// Application styles
@import "application/primary";
@import "application/media_queries";

// Html5 Boilerplate helpers
@include h5bp-helpers;

// Html5 Boilerplate media
@include h5bp-media;