//-----------------------------------------
// Override variables used by h5bp
//-----------------------------------------
$line-height: 1.4;  // 1.4 for true normalization
$font-color: #222;
$link-color: #00e;
$link-hover-color: #06e;
$link-visited-color: #551a8b;
$selected-font-color: #fff;
$selected-background-color: #ff5e99;
$invalid-background-color: #f0dddd;

//-----------------------------------------
// Define your own variables below
//-----------------------------------------
