<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= "#{ controller.controller_name.titleize } - #{ controller.action_name.titleize }" %></title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <%= render "stylesheets" %>
  <%= javascript_include_tag "polyfills" %>

  <%= csrf_meta_tag %>
</head>
